# Created by https:\\www.toptal.com\developers\gitignore\api\dotnetcore
# Edit at https:\\www.toptal.com\developers\gitignore?templates=dotnetcore

### DotnetCore APPLICATION ###
# .NET Core build folders

## # TEST
## 
/AppMktPlaceV2.Security.Test/bin/*
/AppMktPlaceV2.Security.Test/obj/*
/AppMktPlaceV2.Security.Test/bin
/AppMktPlaceV2.Security.Test/obj
## 
## # DOMAIN
## 
/AppMktPlaceV2.Security.Domain/bin/*
/AppMktPlaceV2.Security.Domain/obj/*
/AppMktPlaceV2.Security.Domain/bin
/AppMktPlaceV2.Security.Domain/obj
## 
## # INFRAESTRUTURE
##
/AppMktPlaceV2.Security.Infrastructure/obj
/AppMktPlaceV2.Security.Infrastructure/obj/*
/AppMktPlaceV2.Security.Infrastructure/obj/Debug
/AppMktPlaceV2.Security.Infrastructure/obj/Debug/*
/AppMktPlaceV2.Security.Infrastructure/bin
/AppMktPlaceV2.Security.Infrastructure/bin/*
/AppMktPlaceV2.Security.Infrastructure/bin/Debug
/AppMktPlaceV2.Security.Infrastructure/bin/Debug/*
## 
## # API
/AppMktPlaceV2.Security/bin/*
/AppMktPlaceV2.Security/obj/*
/AppMktPlaceV2.Security/bin
/AppMktPlaceV2.Security/obj
/AppMktPlaceV2.Security/obj/Debug/*
/AppMktPlaceV2.Security/obj/Debug

## 
## # APPLICATION
/AppMktPlaceV2.Security/bin/*
/AppMktPlaceV2.Security/obj/*
/AppMktPlaceV2.Security/bin
/AppMktPlaceV2.Security/SerilogStorage/*
/AppMktPlaceV2.Security/obj

# Common publish files
/publish/*
/setup.sql
/.dockerignore
/docker-compose.yml
/deployment.yml
/AppMktPlaceV2.Security.Api/Dockerfile
/entrypoint.sh

C:\project\AppMktPlaceV2\AppMktPlaceV2.Infrastructure\obj

# Common project files
/AppMktPlaceV2.Security.Api/Migrations/*
/AppMktPlaceV2.Security.Api/Migrations/
# End of https:\www.toptal.com/developers/gitignore/api/dotnetcore

### DotnetCore ROOT ###

/.vscode/*
/.vs/*
/.vscode
/.vs