# Created by https:\\www.toptal.com\developers\gitignore\api\dotnetcore
# Edit at https:\\www.toptal.com\developers\gitignore?templates=dotnetcore

### DotnetCore APPLICATION ###
# .NET Core build folders

## # TEST
## 
/AppMktPlaceV2.Start.Test/bin/*
/AppMktPlaceV2.Start.Test/obj/*
/AppMktPlaceV2.Start.Test/bin
/AppMktPlaceV2.Start.Test/obj

## NEW

..\AppMktPlaceV2.Start\AppMktPlaceV2.Start.Test\bin\*
..\AppMktPlaceV2.Start\AppMktPlaceV2.Start.Test\obj\*
..\AppMktPlaceV2.Start\AppMktPlaceV2.Start.Test\bin
..\AppMktPlaceV2.Start\AppMktPlaceV2.Start.Test\obj

## 
## # DOMAIN
## 
/AppMktPlaceV2.Start.Domain/bin/*
/AppMktPlaceV2.Start.Domain/obj/*
/AppMktPlaceV2.Start.Domain/bin
/AppMktPlaceV2.Start.Domain/obj

## NEW

..\AppMktPlaceV2.Start\AppMktPlaceV2.Start.Domain\bin\*
..\AppMktPlaceV2.Start\AppMktPlaceV2.Start.Domain\obj\*
..\AppMktPlaceV2.Start\AppMktPlaceV2.Start.Domain\bin
..\AppMktPlaceV2.Start\AppMktPlaceV2.Start.Domain\obj

## 
## # INFRAESTRUTURE
##
/AppMktPlaceV2.Start.Infrastructure/obj
/AppMktPlaceV2.Start.Infrastructure/obj/*
/AppMktPlaceV2.Start.Infrastructure/obj/Debug
/AppMktPlaceV2.Start.Infrastructure/obj/Debug/*
/AppMktPlaceV2.Start.Infrastructure/bin
/AppMktPlaceV2.Start.Infrastructure/bin/*
/AppMktPlaceV2.Start.Infrastructure/bin/Debug
/AppMktPlaceV2.Start.Infrastructure/bin/Debug/*


## NEW

..\AppMktPlaceV2.Start\AppMktPlaceV2.Start.Infrastructure\bin\*
..\AppMktPlaceV2.Start\AppMktPlaceV2.Start.Infrastructure\obj\*
..\AppMktPlaceV2.Start\AppMktPlaceV2.Start.Infrastructure\bin
..\AppMktPlaceV2.Start\AppMktPlaceV2.Start.Infrastructure\obj


## 
## # API
/AppMktPlaceV2.Start/bin/*
/AppMktPlaceV2.Start/obj/*
/AppMktPlaceV2.Start/bin
/AppMktPlaceV2.Start/obj
/AppMktPlaceV2.Start/obj/Debug/*
/AppMktPlaceV2.Start/obj/Debug
/AppMktPlaceV2.Start/SerilogStart/*
/AppMktPlaceV2.Start/SerilogStart

## NEW

..\AppMktPlaceV2.Start\AppMktPlaceV2.Start\bin\*
..\AppMktPlaceV2.Start\AppMktPlaceV2.Start\obj\*
..\AppMktPlaceV2.Start\AppMktPlaceV2.Start\bin
..\AppMktPlaceV2.Start\AppMktPlaceV2.Start\obj
..\AppMktPlaceV2.Start\AppMktPlaceV2.Start\SerilogStart\*
..\AppMktPlaceV2.Start\AppMktPlaceV2.Start\SerilogStart

# Common project files
..\AppMktPlaceV2.Start\AppMktPlaceV2.Start\Migrations\*
..\AppMktPlaceV2.Start\AppMktPlaceV2.Start\Migrations

## 
## # APPLICATION
/AppMktPlaceV2.Start.Application/bin/*
/AppMktPlaceV2.Start.Application/obj/*
/AppMktPlaceV2.Start.Application/bin
/AppMktPlaceV2.Start.Application/obj
/AppMktPlaceV2.Start.Application/SerilogStart/*
/AppMktPlaceV2.Start.Application/SerilogStart

## NEW

..\AppMktPlaceV2.Start\AppMktPlaceV2.Start.Application\bin\*
..\AppMktPlaceV2.Start\AppMktPlaceV2.Start.Application\obj\*
..\AppMktPlaceV2.Start\AppMktPlaceV2.Start.Application\bin
..\AppMktPlaceV2.Start\AppMktPlaceV2.Start.Application\obj
..\AppMktPlaceV2.Start\AppMktPlaceV2.Start.Application\SerilogStart\*
..\AppMktPlaceV2.Start\AppMktPlaceV2.Start.Application\SerilogStart

# Common publish files
/publish/*
/setup.sql
/.dockerignore
/docker-compose.yml
/deployment.yml
/AppMktPlaceV2.Start/Dockerfile
/entrypoint.sh

# End of https:\www.toptal.com/developers/gitignore/api/dotnetcore

### DotnetCore ROOT ###

/.vscode/*
/.vs/*
/.vscode
/.vs